body {
    margin: 0;
    padding: 0;
}

#title {
    position: absolute;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #409EFF;
}
    #title h1 {
        padding-left: 20px;
        width: 90%;
        color: white;
    }


#card_list {
    position: relative;
    top: 100px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#start_button {
    display:block;
    position: absolute;
    top: 25%;
    right: 5%;
}
